.image{
	height: 300px;
	border: 2px solid gray;
	float: left;
	margin: 10px;
    -webkit-transform: translate3d(0,0,0);
}

.image:hover{
	height: 320px;
	-webkit-transform: rotate(45deg);
	-webkit-transition: 2s;
	-moz-transition: 2s;
	-ms-transition: 2s;
	transition: 2s;
}

.image img{
	height: 100%;
}

.row{
	clear: both;
	overflow: hidden;
}